<h1>Acerca de Nosotros</h1>
<p>Bienvenidos a ejercicio 1 © versión 0.80 (Sistema de Información ).

ejercico © versión 3.80.seg.ins le ofrece información amplia, rápida y totalmente actualizada sobre el Sistema de Información xxxx de la xxxxx. La información que se presenta esta destinada a las xxxxxxxxxxxxxxxxxxx.

El tipo de Información que se presenta esta relacionada con el SIS e incluye:  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.
Cualquier sugerencia por favor haganosla llegar a traves de la página de sugerencias. 
</p>
